body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #0E1312;
    color: #D3D4D3;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
}

h3 {
    font-size: 1.25em;
    font-weight: 500;
    color: rgb(168, 168, 168);
}

h4 {
    font-size: 1em;
    font-weight: 700;
}

p {
    font-size: 0.75em;
    font-weight: normal;
}

button {
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    font-weight: 500;
    background-color: rgb(204, 218, 125);
}

button:hover {
    background-color: rgb(151, 161, 94);

    color: black;
}

input {
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: rgba(110, 110, 110, 0.6);

}

.tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generation {
   
}

.member {
    padding: 1rem;
    outline: 1px solid grey;
    margin: 0.5rem;
    display: inline-block;
    background-color: #617D7F;
    color: rgb(24, 24, 24);
}

.selected {
    outline: 3px solid #FFFFFF;
    background-color: #97C4C6;
    color: #000000;
    font-weight: 500;
}
